@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
  border-color: #00000000;
  border-radius: 15px;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 16px;
  font-style: normal;
  color:white;
}


a {
  margin-right: 20px; /* 兩個連結之間的間距 */
  text-decoration: none; /* 去掉默認的下劃線 */
  color: #000; /* 設定文字顏色 */
  font-size: 16px; /* 文字大小 */
}

.a {
  margin-right: 1px; /* 兩個連結之間的間距 */
  text-decoration: none; /* 去掉默認的下劃線 */
  color: #000; /* 設定文字顏色 */
  font-size: 16px; /* 文字大小 */
}

a:last-child {
  margin-right: 0; /* 去掉最後一個連結的右邊距 */
}




body {
  align-items: center;
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  margin: 10 auto;
  background-color:#c2c2c2;
  font-size: 16px;
  line-height: 1.65;
  word-break: break-word;
  font-kerning: auto;
  font-variant: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  hyphens: auto;
}